services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: nutritracker
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: nutritracker
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      DATABASE_URL: postgres://nutritracker:password123@db:5432/nutritracker
    depends_on:
      - db

volumes:
  pgdata:
